/* Global Styles */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
}
header {
    background-color: #2c3e50;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    padding-right: 1em;
    padding-left: 1em;
    transition: transform 0.3s ease;
}
.header-container:hover {
    transform: scale(1.05);
}
.header-container img {
    height: 4em;
    margin-right: 1em;
}
main {
    padding: 2em;
    max-width: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 2em;
    margin-bottom: 8em;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h1 {
    color: white;
    margin-bottom: 0.5em;
}
h2 {
    color: #2d4d91;
    margin-bottom: 0.5em;
}
p {
    margin: 1em 0;
    text-align: justify;
}
.footer-text {
    margin: 1em 0;
    text-align: center;
}
ol {
    list-style-type: decimal;
    padding-left: 3em;
}
ul {
    list-style-type: disc;
    padding-left: 3em;
}
li {
    margin: 0.5em 0;
}
a {
    color: #29498f;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container-link {
    text-decoration: none;
}
.privacy-link {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
.app-store-link {
    display: inline-block;
    margin-top: 1em;
    background-color: #007aff;
    color: white;
    padding: 0.75em 1.5em;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.app-store-link:hover {
    background-color: #005bb5;
}
button {
    background-color: #3b5998;
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #2d4373;
}
